 :root {

    --accent-color: #2196f3;
    --main-text-color: #757575; 
    --title-text-color: #212121;
    
 }
 
 body {     background-color: #E5E5E5;
            color: var(--main-text-color); }

 ul {list-style: none;}
 .button {
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
 }

 
 /* голова */
    header {
      background-color: #ffffff;
    }
    .logo {}
    .logo- {color: var(--accent-color);}
    .logo-- {color: #000000;}
/* навігація сайту */
    .link {
        color: var(--title-text-color);
    }
    .site-nav .link:hover,
    .site-nav .link:focus {
        color: var(--accent-color);
    }
    .site-nav .link.current {color: var(--accent-color);}
    
    .address {
        color: var(--main-text-color);
    }
    .address:hover, 
    .address:focus {
        color: var(--accent-color);
    }
/* мейн */
/* герой */
    .hero {
        color: #ffffff;
        background-color: #2F303A;
    }
/* особливості */
    .section {
        background-color:  #ffffff;
    }
    .section-title {
        color: var(--title-text-color);
    }
